body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#desktop-area {
    width: 100%;
    height: 80vh;
    position: relative;
    background-color: #f4f4f4;
    border: 2px solid #ccc;
}

.desktop-icon {
    position: absolute;
    padding: 5px;
    cursor: move;
}

.app-icon {
    display: inline-block;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

button.delete-icon {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}
